/* === ESTILO GLOBAL === */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f7f6;
  color: #222;
}

/* === HEADER === */
header {
  background: linear-gradient(135deg, #2e8b57, #00783a);
  color: white;
  padding: 2.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.12);
  border-bottom: 4px solid #1d6533;
}

header .logo {
  width: 85px;
  height: auto;
  margin-right: 1.5rem;
  backg

